<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Suite : Appium">
	<test name ="test : Appium">
		<classes>
			<class name = "com.Appium.Testcases.TC_Dialer_002">
				<parameter name="AppName" value ="Dialer"/>
			</class>
			<class name = "com.Appium.Testcases.TC_Calculator_001">
				<parameter name="AppName" value ="Calculator"/>
			</class> 
		</classes>
	</test>
</suite>